@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(0, 0%, 100%);
}
