@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
